@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-item {
    @apply px-2 py-1.5 text-xs sm:px-3 sm:py-2 sm:text-sm lg:px-6 lg:py-2.5 lg:text-base rounded-full text-white/70 font-semibold hover:bg-white/10 hover:text-white transition duration-300;
  }
  .nav-item.active {
    @apply bg-white text-gray-900 hover:bg-white/70 hover:text-gray-900;
  }
  .hero-ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl relative z-40;
  }
}
